body {
    margin: 0;
}

/* 테이블 헤더의 컬럼*/
th{
    vertical-align: center;
    text-align: center;
    align-content: center;
}
/* 테이블 로우가되는 컬럼 */
td{
    vertical-align: center;
    text-align: center;
    align-content: center;
}
tbody{
    cursor: pointer;
}

/* 테이블 헤드*/
thead{
    text-align: center;
}
/* 테이블 꼬리*/
tfoot{
    text-align: center;
}

/* Body 위 베이스 페널 역할을 하는 영역 */
#baseContainer {
    /*height: 100vw;*/
    /*width: 100vw;*/

}
/* 테이블 위치 */
table {
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

/* 메인 페이지 상단 영역*/
.upper {

    position: static;
    background-color: lightblue;
    height: 5vw;
    width: 100vw;
    border-bottom: black;
}

/* 페이지가 갈아 끼워지는 메인 영역*/
/*

com-mainPanel {
    position: static;
    height: 80vw;
    width: 100vw;
    overflow: auto;
}
*/

#mainPanel{
    overflow: auto;
}

/* 하단부 회사명 회사정보등 표시란*/
footer {
    position: static;
    background-color: #DEE9E7;
    text-align: center;
    height: 10vw;
    width: 100vw;

}

/*메인 페이지 타이틀*/
#title {
    position: sticky;
    margin-top: 0.7%;
    margin-left: 35%;
    text-align: center;
    font-size: 1.5em;
}

/*슬라이드 메뉴 집어넣기 버튼*/
.btn-leftMenuIn {
    margin-top: 1%;
    margin-left: 2.5%;
    position: fixed;
    background-image: url("/images/clear_button.png");
    background-repeat: round;
    border-width: 0;
    height: 3vw;
    width: 3vw;
    background-color: inherit;
    cursor: pointer;

}

/* 슬라이드 메뉴 꺼내기 버튼*/
.btn-leftMenuOut {
    margin-top: 5%;
    margin-left: 80%;
    background-image: url("/images/clear_button.svg");
    border-width: 0;
    height: 1.5vw;
    width: 1.5vw;
    background-color: inherit;
    cursor: pointer;

}

/*  본 슬라이드 메뉴  css  */
.menu_wrap {
    position: fixed;
    top: 5vw;
    left: -25vw;
    /*overflow: auto;*/
    z-index: 400;
    background-color: white;
    width: 25vw;
    height: 80vw;
    transition: left .7s ease-in-out;
    box-sizing: border-box;
}
/*  로그인 후 변경되는 메뉴 페널들의 css*/
.slideMenu {
    margin-left: 25%;
    width: 15vw;
}

/*  슬라이드 메뉴 안에서 로그인 하러가기 */
#goLoginButton {
    margin-left: 25%;
    color: #000;
    background-color: #ffc107;
    border-color: #ffc107;
    width: 10vw;
}

/* 슬라이드 메뉴 on 일때 이동 위치 */
.menu_wrap.on {
    left: 0;
}
/* 슬라이드메뉴 꺼낼시 다른 메뉴 잠그기 */
#dimmed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}



/************************* 로그인 패널  */

/* 로그인 문구 */
#loginTitle{
    text-align: center;
}
/* 아이디 비밀번호 라벨*/
.loginLabel{
    width: 100%;
    margin-left: 45%;
}

/* 로그인 페이지에서 사용하는 로그인, 회원가입 버튼*/
.loginPageButton{
    position: relative;
    left: 53.5%;

}
/* Dash ICON  */
.dash-icon{
    width: 10vw;
    height: 10vw;
}

/* qna 디테일 모달창*/
.modal {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;

    background-color: rgba(0, 0, 0, 0.4);

}
/* qna 모달창 팝업시에*/
.modal.show {
    display: block;
}
/* qna 모달창 위치*/
.modal_body {
    position: absolute;
    top: 35%;
    left: 50%;
    margin-top: 8vw;
    overflow: auto;
    width: 400px;
    /*height: 600px;*/
    height: 540px;

    padding: 40px;

    text-align: center;

    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

    transform: translateX(-50%) translateY(-50%);
}
/* 모달 내용영역*/
.modal_contentArea{
    overflow: auto;

}
/* 예약 모달 내용 div */
.detatilModal {
    border: 1px #0b5ed7;
    border: #0a58ca;
}

/* 글쓰기 모달 창 텍스트 에리어*/
.clientQnaBoardWriteModalTextArea{
    maxlength : 2048;
    height: 350px;
    resize: none;
    border: black 1px;
    width: 100%;
    -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
    -moz-box-sizing: border-box; /* FF1+ */
    box-sizing: border-box;
}

/* Q&A 글쓰기 모달창 제목 칸*/
.clientQnaBoardWriteModalTitleArea{
    border: black 1px;
}

/*card over flow*/
.card{
    overflow: auto;
}
.button{
    padding: 10px 40px;
    font-size:20px;
    background-color: brown;
    color: wheat;
}


.dropdown{
    position: relative;
    display: inline-block;
    min-height: 100px;
}
.branchoffice_button{
    padding: 10px 40px;
    font-size:20px;
    /*background-color: brown;*/
    /*color: wheat;*/
}
#drop-content{
    position: absolute;
    z-index: 1;
}
/*#drop-content button{
    display:block;
    font-size: 20px;
    !*background-color: #dfdfdf;*!
    !*color: black;*!
    text-decoration: none;
    padding: 10px 36px;
    margin: 2px 0px 0px 0px;
}*/

#branchOfficeSelectList{
    /*overflow: auto;*/
}


/*        ***슬라이드쇼 ***         */
/*

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
*/

/* Slideshow container */
.slideshow-container {
    /*max-width: 60vw;*/
    /*max-height: 60vw;*/
    position: relative;
    margin: auto;
}
.slideshow-container .mySlides img {
    height: 14vw;
    /*height: 400px;*/
    /*margin-left: 20%;*/
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 3s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


/* https://myhappyman.tistory.com/13 << 슬라이드쇼 */

.branchOfficeBoardDetailArea{
border-width: 0px;
}
.spaceList{
    transition-timing-function: ease-out;
    transition-duration: 1s;
}

.spaceList:hover{
    background-color: #0c63e4;
    animation-delay: 3s;
    color: white;
    transition-timing-function: ease-out;
    transition-duration: 1s;
}


/* Extra Modal */

.extraModal {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    /*display: none;*/

    background-color: rgba(0, 0, 0, 0.4);

}

/*

.extraModal.show {
     display: block;
}
*/

.extraModal_body {
    position: absolute;
    top: 35%;
    left: 50%;
    margin-top: 8vw;
    overflow: inherit;
    width: 500px;
    height: 400px;

    padding: 40px;

    text-align: center;

    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

    z-index: 5000;
    transform: translateX(-50%) translateY(-50%);
}
.spaceBookModal_body {
    position: absolute;
    top: 35%;
    left: 50%;
    margin-top: 8vw;
    overflow: inherit;
    width: 600px;
    height: 300px;

    padding: 40px;

    text-align: center;

    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

    z-index: 5001;
    transform: translateX(-50%) translateY(-50%);
}


/* qna 디테일 모달창*/
.spaceBookModal {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;

    background-color: rgba(0, 0, 0, 0.4);

}
/* 예약버튼 누르고 예약 일정 */
.spaceBookModal.show {
    display: block;
}
/* space Book 모달*/
/* 예약창 영역*/
.spaceBookModal_body {
    position: absolute;
    top: 35%;
    left: 50%;
    margin-top: 8vw;
    overflow: inherit;
    width: 800px;
    /*height: 600px;*/
    height: 540px;

    padding: 40px;

    text-align: center;

    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

    transform: translateX(-50%) translateY(-50%);
}



.clearfix:after {
    content: '';
    display: block;
    clear: both;
    float: none;
}

/* ======== Calendar ======== */
.my-calendar {
    width: 700px;
    /*margin: 30px;*/
    /*padding: 20px 20px 10px;*/
    text-align: center;
    font-weight: 800;
    border: 1px solid #ddd;
    cursor: default;
}
.my-calendar .clicked-date {
    border-radius: 25px;
    margin-top: 36px;
    float: left;
    width: 42%;
    padding: 46px 0 26px;
    background: #ddd;
}
.my-calendar .calendar-box {
    float: right;
    width: 58%;
    padding-left: 30px;
}

.clicked-date .cal-day {
    font-size: 24px;
}
.clicked-date .cal-date {
    font-size: 130px;
}

.ctr-box {
    padding: 0 16px;
    margin-bottom: 20px;
    font-size: 20px;
}
.ctr-box .btn-cal {
    position: relative;
    float: left;
    width: 25px;
    height: 25px;
    margin-top: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background: none;
}
.ctr-box .btn-cal:after {
    content: '<';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 25px;
    font-weight: bold;
    font-size: 20px;
}
.ctr-box .btn-cal.next {
    float: right;
}
.ctr-box .btn-cal.next:after {
    content: '>';
}

.cal-table {
    width: 100%;
}
.cal-table th {
    width: 14.2857%;
    padding-bottom: 5px;
    font-size: 16px;
    font-weight: 900;
}
.cal-table td {
    padding: 3px 0;
    height: 50px;
    font-size: 15px;
    vertical-align: middle;
}
.cal-table td.day {
    position: relative;
    cursor: pointer;
}
.cal-table td.today {
    background: #ffd255;
    border-radius: 50%;
    color: #fff;
}
.cal-table td.day-active {
    background: #ff8585;
    border-radius: 50%;
    color: #fff;
}
.cal-table td.has-event:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: #FFC107;
}

/*#timeTableArea{
    border: 1px #0a53be;
}*/
/*table#timeTable{*/
/*    width: 3px;*/
/*    height: 10px;*/
/*    border: 1px solid #0f5132;*/
/*    border-collapse: separate;*/
/*}*/

tbody#timeTableTbody{
    width: 10px;
    height: 10px;
    border: 1px solid #0f5132;
    border-collapse: separate;
}
/*

tr.timeTableTrTd{
    width: 10px;
    height: 10px;
    border: 1px solid #0f5132;
    border-collapse: separate;
}
*/

tr.timeTableTrTd td{
    width: 4vw;
    height: 4vw;
    border: 1px solid #ffc107;
    border-collapse: separate;
    font-family: fantasy;

}

.timeTableTd:hover{
    background-color: #ffc107;
    animation-delay: 3s;
    color: white;
    transition-timing-function: ease-out;
    transition-duration: 1s;
}

.timeCell-active{
    background-color: #ffc107;
    animation-delay: 3s;
    color: white;
    transition-timing-function: ease-out;
    transition-duration: 1s;
}

.timeCell-disabled{
    background-color: #6c757d;
    animation-delay: 3s;
    color: white;
    transition-timing-function: ease-out;
    transition-duration: 1s;

}


/* 로딩 관관 css */
#loading {
    height: 100%;
    left: 0px;
    position: fixed;
    _position:absolute;
    top: 0px;
    width: 100%;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    opacity : 0.5;
}
.loading {
    z-index: 19999;
}
#loading_img{
    position:absolute;
    top:50%;
    left:50%;
    height:100px;
    margin-top:-100px;
    margin-left:-100px;
    z-index: 20000;
}

div#reserv_search_input_div {
    margin-left: 40%;
    margin-bottom: 1%;
}

div#reserv_search_detailCheckBox_reserv_no{
    margin-left: 13%;
}